.TopWrapper{
  height: 100vh;
  width: 100%;
  background-color: #555555
}

.head{
  width: 100%;
  background-color: red;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  .head-content{
    width: 90%;
    height: 50%;
    background-color: yellowgreen;
    display: flex;
    .text{
      margin-left: 10px;
    }
  }
}

.main{
  height: 90%;
  width: 95%;
  background-color: aliceblue;
  margin: 0 auto;
  .logo{
    .texteria{
      text-align: center;
      .logo-text{
        padding-top: 20px;
        font-size: 100px;
        font-weight: bold;
      }
    }
  }
  .prodact{
    display: flex;
    justify-content: space-evenly;
    .card{
      background-color: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, .16);
      color: #212121;
      text-decoration: none;
      width: 25%;
      .card__header{
        display: flex;
        flex-wrap: wrap;
        .card__header--title{
          padding: 1rem 1rem 0;
          font-size: 1.25rem;
          order: 1;
        }
        .card__header--thumbnail{
          margin: 0 auto;;
          .test-png{
            width: 100%;
          }
        }
      }
      .card__body{
        padding: 1rem;
        .card__body--title{
          border-bottom: 1px solid #ddd;
        }
        .card__body--text{
          font-size: .95rem;
          margin-top: .5rem;
          word-wrap: break-all;
          
        }
        .card__body--price{
          text-align: right;
          border-bottom: 1px solid #ddd;
        }
      }
      .card__footer{
        padding-bottom: 16px;
        .card__footer--btn{
          display: block;
          border-radius: 10px;
          background-color: #ea352d;
          margin: 0 auto;
          height: 45px;
          width: 70%;
          border: none;
          .test{
            text-decoration: none;
            color: #fff;
            font-size: 17px;
          }
        }
      }
    }
  }
}
